@charset "UTF-8";

*{
 margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}

body{
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #f5f2ed, #e8e2da);
  color: #333;
}

p{
  line-height: 1.8;
  letter-spacing: 0.3px;
  margin-bottom: 15px;
}

/* HERO */
.hero {
  background: url("IMAGENS/aslan2.jpeg") center/cover no-repeat;
  height: 400px;
  display: flex;
  align-items: center;   
  padding-left: 80px;   
  background-position: 70% 40%;
  
}

.hero-content {
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 20px;
}

header{
 background: linear-gradient(180deg, #b08968, #7f5539);
  padding: 40px 20px;
  text-align: center;
  color: white;
}

header h1{
  font-size: 42px;
  margin: 0;
  letter-spacing: 2px;
}

/* NAV */
nav {
  background-color: #432818;
  text-align: center;
  padding: 12px 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #ddb892;
}

/* CONTAINER */
.container {
  max-width: 1500px;
  margin: 40px auto;
}



/* CARDS */
.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  margin-bottom: 5px;
}

.card h2 {
  color: #7f5539;
  margin-bottom: 15px;
  border-bottom: 2px solid #ddb892;
  padding-bottom: 5px;
}

/* LISTA */
ul {
  padding-left: 20px;
}

li {
  margin-bottom: 8px;
}

li::marker {
  color: #7f5539;
}

/* PESO */
.peso-box {
  display: flex;
  gap: 20px;
}

.peso-box div {
  background: #ddb892;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  text-align: center;
  font-size: 18px;
}

/* FOOTER */
footer {
  background: #432818;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .peso-box {
    flex-direction: column;
  }

  .hero h1 {
    font-size: 32px;
  }
}